<ng-template [ngIf]="isFormValid">
    <app-model (modelClose)="modelCloseEmit($event)" [fromValue]="fromValue"></app-model></ng-template>
<div class="container">
<div class="row">   
    <div class="col-md-12">
<div class="medlineCom">MEDLINE.COM</div>
<h1>Account Registration</h1>
<h2>USER INFORMATION</h2>
<div *ngIf="!accountForm.valid && accountForm.touched && isclick" class="alert alert-danger">
     Please review errors </div>
<h2 class="colorBlue">USER INFORMATION</h2>
    </div>
  
</div>
<form [formGroup]="accountForm" novalidate>
<div class="row">
 
        <div class="col-md-6">
            <div class="form-group">
                <label>First Name*</label>
                <input
                name="userName"
                [class.error]="accountForm.controls['name'].invalid && (accountForm.controls['name'].dirty || accountForm.controls['name'].touched)"
                 type="text" class="form-control" formControlName="name"/>
                <div *ngIf="accountForm.controls['name'].invalid && (accountForm.controls['name'].dirty || accountForm.controls['name'].touched)"  class="alert alert-warning">
                    <div *ngIf="accountForm.controls['name'].errors.required">
                        <img src="assets/images/error.png" class="img-responsive" alt="Error">
                        <span>First Name is a required field</span>
                    </div>

                    <div *ngIf="accountForm.controls['name'].errors.pattern">
                        <img src="assets/images/error.png" class="img-responsive" alt="Error">
                        <span>Please insert valid Name</span>
                    </div>
                    
                </div>
            </div>
            <div class="phoneBox">

                    <div class="form-group width70">
                        <label>Phone*</label>
                        <input name="phone" maxlength="10" type="text" class="form-control" formControlName="phone"
                        [class.error]="accountForm.controls['phone'].invalid && (accountForm.controls['phone'].dirty || accountForm.controls['phone'].touched)" />
                        <div *ngIf="accountForm.controls['phone'].invalid && (accountForm.controls['phone'].dirty || accountForm.controls['phone'].touched)"
                            class="alert alert-warning">
                            <div *ngIf="accountForm.controls['phone'].errors.required">
                                <img src="assets/images/error.png" class="img-responsive" alt="Error">
                                <span>Phone is a required field</span>
                            </div>

                            <div *ngIf="accountForm.controls['phone'].errors.pattern">
                                <img src="assets/images/error.png" class="img-responsive" alt="Error">
                                <span>Please insert valid Phone number</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group width30">
                        <label>EXT</label>
                        <input name="ext" type="text" class="form-control" formControlName="ext" />
                       
                    </div>

            </div>
        
            <div class="clr"></div>
            <div class="form-group">
                <label>Email*</label>
                <input name="email"  [class.error]="accountForm.controls['email'].invalid && (accountForm.controls['email'].dirty || accountForm.controls['email'].touched)"
                 type="text" class="form-control" formControlName="email" />
                <div *ngIf="accountForm.controls['email'].invalid && (accountForm.controls['email'].dirty || accountForm.controls['email'].touched)"
                    class="alert alert-warning">
                    <div *ngIf="accountForm.controls['email'].errors.required">
                        <img src="assets/images/error.png" class="img-responsive" alt="Error">
                        <span>Email is a required field</span>
                    </div>

                    <div *ngIf="accountForm.controls['email'].errors.pattern">
                        <img src="assets/images/error.png" class="img-responsive" alt="Error">
                        <span>Please insert valid Email</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label>Last Name*</label>
                <input name="lastname"
                [class.error]="accountForm.controls['lastName'].invalid && (accountForm.controls['lastName'].dirty || accountForm.controls['lastName'].touched)"
                 type="text" class="form-control" formControlName="lastName" />
                <div *ngIf="accountForm.controls['lastName'].invalid && (accountForm.controls['lastName'].dirty || accountForm.controls['lastName'].touched)"
                    class="alert alert-warning">
                    <div *ngIf="accountForm.controls['lastName'].errors.required">
                        <img src="assets/images/error.png" class="img-responsive" alt="Error">
                    <span>Last Name is a required field</span>
                    </div>

                    <div *ngIf="accountForm.controls['lastName'].errors.pattern">
                        <img src="assets/images/error.png" class="img-responsive" alt="Error">
                        <span>Please insert valid Last Name</span>
                    </div>
                </div>

            </div>
        </div>
<div class="col-md-12 text-right">
        <button type="submit" class="btn btn-primary" (click)="createAccount()">Next</button>
        </div>

 
   
</div>
</form>
</div>


